---
import Image from "astro/components/Image.astro";
import { Button } from "../ui/button";

export interface Props {
  heading: string;
  paragraph: string;
  image1: ImageMetadata;
  image2: ImageMetadata;
  stats: { value: string; label: string }[];
  buttonText: string;
  buttonLink: string;
}

const { heading, paragraph, image1, image2, stats, buttonText, buttonLink } =
  Astro.props;
---

<section class="relative py-24">
  <div class="mx-auto w-full max-w-7xl px-4 md:px-5 lg:px-5">
    <div
      class="grid w-full grid-cols-1 items-center justify-start gap-12 lg:grid-cols-2"
    >
      <div
        class="order-last grid w-full grid-cols-1 items-start justify-center gap-6 sm:grid-cols-2 lg:order-first"
      >
        <div
          class="flex items-start justify-start gap-2.5 pt-24 sm:justify-end lg:justify-center"
        >
          <Image
            class="rounded-xl object-cover"
            src={image2}
            alt="about Us image"
          />
        </div>
        <Image
          class="ml-auto rounded-xl object-cover sm:ml-0"
          src={image1}
          alt="about Us image"
        />
      </div>
      <div
        class="inline-flex w-full flex-col items-center justify-center gap-10 lg:items-start"
      >
        <div class="flex w-full flex-col items-start justify-center gap-8">
          <div
            class="flex w-full flex-col items-center justify-start gap-3 lg:items-start"
          >
            <h2
              class="font-manrope text-center text-4xl leading-normal font-bold lg:text-start"
            >
              {heading}
            </h2>
            <p
              class="text-center text-base leading-relaxed font-normal lg:text-start"
            >
              {paragraph}
            </p>
          </div>
          <div
            class="inline-flex w-full items-center justify-center gap-5 sm:gap-10 lg:justify-start"
          >
            {
              stats.map((stat) => (
                <div class="inline-flex flex-col items-start justify-start">
                  <h3 class="font-manrope text-4xl leading-normal font-bold text-gray-900">
                    {stat.value}
                  </h3>
                  <h6 class="text-base leading-relaxed font-normal">
                    {stat.label}
                  </h6>
                </div>
              ))
            }
          </div>
        </div>
        <a href={buttonLink}>
          <Button>{buttonText}</Button>
        </a>
      </div>
    </div>
  </div>
</section>
